<div class="container">

	<div class="row">
		<div class="col-md-12">
			<img src="/assets/img/burger.png" alt="burger" class="img-responsive center-block">
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center text-danger">Eat-Da-Burger</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-5">
			<ul class="list-group">
				{{#each burgers}}
				{{#unless devoured}}
					<li class="list-group-item">
						{{id}}.
						{{burger_name}}
					</li>
					<button class="devour btn btn-secondary" data-id="{{id}}">Devour It!</button>
				{{/unless}}
				{{/each}}
			</ul>
		</div>

		<div class="col-md-2"></div>

		<div class="col-md-5">
			<ul class="list-group">
				{{#each burgers}}
				{{#if devoured}}
					<li class="list-group-item disabled">
						{{id}}.
						{{burger_name}}
					</li>
					<button class="delete-burger btn btn-secondary" data-id="{{id}}">Throw It Away!</button>
				{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12 text-center">
			<form id="add-burger">
				<div class="form-group">
					<textarea id="burger" name="burger" rows="5" cols="40"></textarea>
				</div>
				<button class="btn btn-primary" type="submit" id="submit-btn">Submit</button>
			</form>
			<p class="h4"> Enter the name of the burger you want to eat & click the submit button.</p>
		</div>
	</div>
	
</div>