<div class="container">

	<div class="row">
		<div class="col-md-12">
			<img src="/assets/img/burger.png" alt="burger" class="img-responsive center-block">
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center text-danger">Eat-Da-Burger</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-5">
			<ul>
				{{#each burgers}}
				{{#unless devoured}}
					<li>
						{{id}}.
						{{burger_name}}
						<button class="devour" data-id="{{id}}">Devour It!</button>
					</li>
				{{/unless}}
				{{/each}}
			</ul>
		</div>

		<div class="col-md-2"></div>

		<div class="col-md-5">
			<ul>
				{{#each burgers}}
				{{#if devoured}}
					<li class="devoured">
						{{id}}.
						{{burger_name}}
						<button class="delete-burger" data-id="{{id}}">Throw It Away!</button>
					</li>
				</div>
				{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12 text-center">
			<form id="add-burger">

				<div class="form-group">
					<textarea id="burger" name="burger" rows="5" cols="40"></textarea>
				</div>

				<button type="submit" id="submit-btn">Submit</button>

			</form>
		</div>
	</div>
	
</div>