<div class="container">

	<div class="row">
		<div class="col-md-12">
			<img src="/assets/img/burger.png" alt="burger" class="img-responsive center-block">
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center text-danger">Eat-Da-Burger</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-5">
			<ul>
				{{#each burgers}}
				{{#unless devoured}}
				<form action="burger/updateOne/{{id}}" method="POST">
					<div class="input-group">
						<li class="form-control">{{id}}. {{burger_name}}</li>
						<span class="input-group-btn">
							<button class="btn btn-secondary devour-button" type="submit">Devour It!</button>
						</span>
					</div>
				</form>
				{{/unless}}
				{{/each}}
			</ul>
		</div>

		<div class="col-md-2"></div>

		<div class="col-md-5">
			<ul>
				{{#each burgers}}
				{{#if this.devoured}}
				<div class="input-group">
					<li class="form-control">{{id}}. {{burger_name}}</li>
					{{!-- <span class="input-group-btn">
						<button class="btn btn-info whine-button" type="button">Whine!</button>
					</span> --}}
				</div>
				{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12 text-center">
			<form action="burger/insertOne" method="POST">
				<textarea type="text" name="burger"></textarea>
			</form>
			<button type="button" class="btn btn-primary">Submit</button>
			<p> Enter the name of the burger you want to eat & click the submit button. </p>
		</div>
	</div>
	
</div>